<div class="row">
    <div class="col-md-7 d-flex align-items-end">
        <button class="btn rounded-0 me-3 border" id="back-to-patients" type="submit">
            <img src="\assets/icons/back.svg" alt="">
        </button>
        <p3 class="display-6">Patient Chart > {{PATIENT-NAME}}</h1>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
        <p3 class="display-7  me-3">Last Version Saved: {{LAST-DATE}} </p3>
        <button id="edit-{{PATIENT}}" type="button" class="btn btn-success rounded-0">
            Edit information
        </button>
    </div>
</div>
<div class="row" id="add-patient-success mt-3"></div>
<div class="row mt-5">
    <div class="col-md-2 p-3 ">
        <img src="/assets\img\sign_up\profile_placeholder.png" class="img w-100 h-auto">
    </div>
    <div class="col ms-4">
        <h2 class="display-7"><b>Maria Clara</b></h1>
        <p3 class="display-7">PATIENT</h1>
         <!-- ID NUMBER -->
        <div class="col-md-8 d-flex justify-content-between mt-3">
            <div class="col">
                <div class="row d-flex">
                    <div class="col-auto pr-0"> <img src="\assets/icons/id_number.svg" alt="SVG Image"></div>
                    <div class="col"><p class="display-7 mx-1 custom-color-green">ID Number</p></div>
                </div>
            </div>
            <div class="col">   
                <p class="display-7 mb-0 mx-1">12351235</p> 
            </div>
            <div class="col">
                <div class="row d-flex">
                    <div class="col-auto pr-0"> <img src="\assets/icons/id_number.svg" alt="SVG Image"></div>
                    <div class="col"><p class="display-7 mx-1 custom-color-green">ID Number</p></div>
                </div>
            </div>
            <div class="col">   
                <p class="display-7 mb-0 mx-1">12351235</p> 
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-between">
            <div class="col">
                <div class="row d-flex">
                    <div class="col-auto pr-0"> <img src="\assets/icons/id_number.svg" alt="SVG Image"></div>
                    <div class="col"><p class="display-7 mx-1 custom-color-green">ID Number</p></div>
                </div>
            </div>
            <div class="col">   
                <p class="display-7 mb-0 mx-1">12351235</p> 
            </div>
            <div class="col">
                <div class="row d-flex">
                    <div class="col-auto pr-0"> <img src="\assets/icons/id_number.svg" alt="SVG Image"></div>
                    <div class="col"><p class="display-7 mx-1 custom-color-green">ID Number</p></div>
                </div>
            </div>
            <div class="col">   
                <p class="display-7 mb-0 mx-1">12351235</p> 
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-between">
            <div class="col">
                <div class="row d-flex">
                    <div class="col-auto pr-0"> <img src="\assets/icons/id_number.svg" alt="SVG Image"></div>
                    <div class="col"><p class="display-7 mx-1 custom-color-green">ID Number</p></div>
                </div>
            </div>
            <div class="col">   
                <p class="display-7 mb-0 mx-1">12351235</p> 
            </div>
            <div class="col">
                <div class="row d-flex">
                    <div class="col-auto pr-0"> <img src="\assets/icons/id_number.svg" alt="SVG Image"></div>
                    <div class="col"><p class="display-7 mx-1 custom-color-green">ID Number</p></div>
                </div>
            </div>
            <div class="col">   
                <p class="display-7 mb-0 mx-1">12351235</p> 
            </div>
        </div>
        
    </div>
</div>
 <div class="btn-group mt-4" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn rounded-0 border-bottom-0" for="btnradio1">Personal Data</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn rounded-0 border-bottom-0" for="btnradio2">Progress Notes</label>
    </div>
    <div class="col border-top border-black  border-1 mb-4"></div>
</div>
<div class="col mt-3 px-5">
    <h4 class="display-7 custom-color-blue">Basic Information</h4>
     <div class="row mt-3">
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
    </div>
    <h4 class="display-7 custom-color-blue mt-4">Permanent Address Information</h4>
     <div class="row mt-1 mt-3">
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
    </div>
     <div class="row mt-1">
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
    </div>
     <div class="row mt-1">
        <div class="col-md-6 mb-3 form-group d-flex justify-content-between align-items-center">
            <div class="col-md-3"><label for="date" class="form-label">Date <span class="text-danger">*</span></label></div>
            <div class="col"><input type="text" class="form-control rounded-0" id="date" name="date" required></div>
        </div>
    </div>
</div>
