 <div class="row align-items-center">
    <div class="col-auto ">
        <button class="btn ms-0 rounded-0 border" id="back-to-lab-logs" type="submit">
            <img src="\assets/icons/back.svg" alt="">
        </button>
    </div>
    <div class="col">
        <p3 class="display-6">Laboratory Logs > Add New Laboratory Log</h1>
    </div>
</div>
<div class="col-md-8 mt-5">
    <form id="myForm">
        <div class="row">
            <div class="col-md-6 mb-3 form-group">
                <label for="date" class="form-label">Date <span class="text-danger">*</span></label>
                <input type="date" class="form-control rounded-0" id="date" name="date" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="time-in" class="form-label form-group">Time in  <span class="text-danger">*</span></label>
                <input type="time" class="form-control rounded-0" id="time-in" name="time-in" placeholder="Enter time-in">
            </div>
            <div class="col-md-6 mb-3">
                <label for="time-out" class="form-label">Time out  <span class="text-danger">*</span></label>
                <input type="time" class="form-control rounded-0" id="time-out" name="time-out" placeholder="Enter time-out" required>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="instructor-name" class="form-label">Instructor Name <span class="text-danger">*</span></label>
                <select type="select" class="form-select rounded-0" id="instructor-name" name="instructor-name" required>
                    <option selected disabled>Select instructor</option>
                    <option value="1">Sample</option>
                    <option value="2">Sample</option>
                    <!-- Pre generated Instructors -->
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="remarks" class="form-label form-group">Remarks  <span class="text-danger">*</span></label>
                <textarea type="text" class="form-control rounded-0 h-100" id="remarks" name="remarks" placeholder="your remarks... (max 255)" maxlength="255" required></textarea>
            </div>
        </div>
        <div class="col mt-5">
            <button id="add-laboratory-log" type="submit" class="btn btn-success">Add Laboratory Log</button>
        </div>
    </form>
</div>